/* Common styles */
* {
    font-family: "Encode Sans Condensed", serif;
}

.btn-primary {
    border: 0;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

/* header styles */
header {
    background-color: rgba(255, 144, 14, 0.18);
    padding: 50px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    font-size: 35px;
    font-weight: 700;
    color: #131313;
}

/* banner styles */
.banner-details {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title,
.banner-title1 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.banner-title1 {
    margin-top: -30px;
}

.banner-description {
    color: #727272;
    font-size: 15px;
    padding: 0 5%;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner img {
    margin-top: 30px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1400px;
    margin: 0 auto;
}

/* team styles */
.team-container {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 45px;
    width: 60%;
}

.team-title .quick {
    font-weight: 500;
    color: #727272;
}

.team-title .text-feature {
    font-weight: 700;
    color: #FF900E;
}

.team-description {
    color: #727272;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -20px;
    margin-bottom: 25px;
    width: 80%;
}

/* Responsive styles */
@media screen and (max-width: 320px) {
    .btn-primary {
        padding: 8px 10px;
        font-size: 11px;
    }

    /* header styles */
    header {
        padding: 15px 10px;
    }

    nav {
        flex-direction: column;
    }

    nav li {
        margin-right: 25px;
        font-size: 12px;
        margin-top: -20px;
    }

    .nav-title {
        font-size: 15px;
    }

    /* banner styles */
    .banner-details {
        width: auto;
    }

    .banner-title,
    .banner-title1 {
        font-size: 20px;
    }

    .banner-title1 {
        margin-top: -15px;
    }

    .banner-description {
        font-size: 11px;
        margin-bottom: 15px;
    }

    .banner img {
        margin-top: 15px;
    }

    /* main styles */
    main {
       width: auto;
    }

    /* team styles */
    .team-container {
        flex-direction: column;
        margin-top: 15px;
    }

    .team-image {
        display: block;
    }
    .team-image > img{
        width: 140px;
        height: 140px;
        margin: 0px 7px 8px 3px;  /* T R B L */
    }

    .team-content {
        padding: 0px 20px;
    }

    .team-title {
        font-size: 25px;
        width: 70%;
    }
    .team-description {
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: 15px;
        width: auto;
    }
}



@media screen and (min-width: 321px) and (max-width: 400px) {
    .btn-primary {
        padding: 8px 10px;
        font-size: 11px;
    }

    /* header styles */
    header {
        padding: 15px 10px;
    }

    nav {
        flex-direction: column;
    }

    nav li {
        margin-right: 25px;
        font-size: 13px;
        margin-top: -20px;
    }

    .nav-title {
        font-size: 16px;
    }

    /* banner styles */
    .banner-details {
        width: auto;
    }

    .banner-title,
    .banner-title1 {
        font-size: 21px;
    }

    .banner-title1 {
        margin-top: -15px;
    }

    .banner-description {
        font-size: 12px;
        margin-bottom: 17px;
    }

    .banner img {
        margin-top: 17px;
    }

    /* main styles */
    main {
        width: auto;
     }
 
     /* team styles */
     .team-container {
         flex-direction: column;
         margin-top: 15px;
     }
 
     .team-image {
         display: block;
     }
     .team-image > img{
         width: 167px;
         height: 167px;
         margin: 0px 7px 8px 3px;  /* T R B L */
     }
 
     .team-content {
         padding: 0px 20px;
     }
 
     .team-title {
         font-size: 25px;
     }
     .team-description {
         font-size: 12px;
         margin-top: -10px;
         margin-bottom: 15px;
         width: auto;
     }
}


@media screen and (min-width: 400px) and (max-width: 450px) {
    .btn-primary {
        padding: 10px 15px;
    }

    /* header styles */
    header {
        padding: 20px 30px;
    }

    nav {
        flex-direction: column;
    }

    nav li {
        margin-right: 25px;
        font-size: 14px;
        margin-top: -20px;
    }

    .nav-title {
        font-size: 20px;
    }

    /* banner styles */
    .banner-details {
        width: auto;
    }

    .banner-title,
    .banner-title1 {
        font-size: 25px;
    }

    .banner-title1 {
        margin-top: -15px;
    }

    .banner-description {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .banner img {
        margin-top: 20px;
    }

    /* main styles */
    main {
        width: auto;
     }
 
     /* team styles */
     .team-container {
         flex-direction: column;
         margin-top: 15px;
     }
 
     .team-image {
         display: block;
     }
     .team-image > img{
         width: 187px;
         height: 187px;
         margin: 0px 6px 10px 8px;  /* T R B L */
     }
 
     .team-content {
         padding: 0px 20px;
     }
 
     .team-title {
         font-size: 25px;
     }
     .team-description {
         font-size: 12px;
         margin-top: -10px;
         margin-bottom: 15px;
         width: auto;
     }
}


@media screen and (min-width: 450px) and (max-width: 780px) {
    .btn-primary {
        padding: 10px 15px;
    }

    /* header styles */
    header {
        padding: 25px 60px;
    }

    nav li {
        margin-right: 25px;
        font-size: 14px;
    }

    .nav-title {
        font-size: 25px;
    }

    /* banner styles */
    .banner-details {
        width: auto;
    }

    .banner-title,
    .banner-title1 {
        font-size: 30px;
    }

    .banner-title1 {
        margin-top: -15px;
    }

    .banner-description {
        font-size: 12px;
        margin-bottom: 25px;
    }

    .banner img {
        margin-top: 25px;
    }

    /* main styles */
    main {
        width: auto;
     }
 
     /* team styles */
     .team-container {
         margin-top: 25px;
         padding: 0px 20px;
     }
     .team-image > img{
         width: 187px;
         height: 187px;
     }
 
     .team-content {
         padding: 0px 10px 0px 40px;
     }
 
     .team-title {
         font-size: 25px;
     }
     .team-description {
         font-size: 12px;
         margin-top: -10px;
         margin-bottom: 15px;
         width: auto;
     }
}

@media screen and (min-width: 780px) and (max-width: 1150px) {
    .btn-primary {
        padding: 10px 15px;
    }

    /* header styles */
    header {
        padding: 35px 100px;
    }

    nav li {
        margin-right: 25px;
        font-size: 18px;
    }

    .nav-title {
        font-size: 30px;
    }

    /* banner styles */
    .banner-details {
        width: auto;
    }

    .banner-title,
    .banner-title1 {
        font-size: 35px;
    }

    .banner-title1 {
        margin-top: -15px;
    }

    .banner-description {
        font-size: 15px;
        margin-bottom: 25px;
    }

    .banner img {
        margin-top: 25px;
    }

    /* main styles */
    main {
        width: auto;
     }
 
     /* team styles */
     .team-container {
         margin-top: 30px;
         padding: 0px 30px;
     }
     .team-image > img{
         width: 220px;
         height: 220px;
     }
 
     .team-content {
         padding: 0px 10px 0px 40px;
     }
 
     .team-title {
         font-size: 30px;
     }
     .team-description {
         font-size: 14px;
         margin-top: -10px;
         margin-bottom: 15px;
         width: auto;
     }
}